[submodule "lib/third_party/hos-v4a"]
	path = lib/third_party/hos-v4a
	url = https://github.com/ryuz/hos-v4a
[submodule "lib/third_party/googletest"]
	path = lib/third_party/googletest
	url = https://github.com/google/googletest
[submodule "lib/third_party/tlsf"]
	path = lib/third_party/tlsf
	url = https://github.com/mattconte/tlsf
